.app-sesion{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    margin: 0;
    color: #333;
}

.cuadro {
    background-color: rgb(255, 255, 255);
    padding:1rem;
    min-height: 300px;
    min-width: 350px;
    max-width: 400px;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
    box-shadow:0 10px 30px rgba(0, 0, 0, 0.15);
}

.cuadro h2 {
    margin-bottom: 30px;
    color: #333;
    font-size: 2em;
    font-weight: 600;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    text-align: left;
}
.input-group label{
    display: block;
    margin-bottom: 8px;
    font-size: 0.95em;
    color:#555;
    font-weight: 500;
}
.input-group input {
    width: 100%;
    padding: 1px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
    box-sizing: border-box;
    transition: all 0.3s ease;
}
.input-group input:focus {
    border-color: #71b7e6;
    box-shadow: 0 0 0 3px rgba(113, 183, 230, 0.2);
    outline: none;
}
a {
    cursor: pointer;
    text-decoration: underline;
}

.sesion-button{
    width:100%;
    padding:15px;
    background-color: blueviolet;
    color: #ffffff;
    border:none;
    border-radius: 8px;
    font-size:1.1em;
    font-weight: 600;
    cursor:pointer;
    transition:background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0.4px 15px rgba(155,89,182,0.3);

}

.sesion-button:hover{
    background-color: #8e44ad;
    transform:translateY(-2px);
}

.sesion-button:active {
    transform:translateY(-2px);
    box-shadow: 0.4px 15px rgba(155,89,182,0.3);
}