<div class="app-sesion">
    <div class="cuadro cuadro-sesion">

        <form class="formulario form-sesion" [formGroup]="loginForm" (ngSubmit)="enviarSolicitud()">
            <h2>Iniciar Sesión</h2>
            <div class="input-group">
                <label>Nickname de soldado</label>
                <input type="text" placeholder="Escribe tu nickname de soldado" formControlName="nickname" />
                @if (loginForm.get('nickname')?.invalid && loginForm.get('nickname')?.touched) {
                <span class="error-message">El nickname es obligatorio</span>
                }
            </div>
            <div class="input-group">
                <label>Contraseña</label>
                <input type="password" placeholder="Escribe tu contraseña" formControlName="password" />
                @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
                <span class="error-message">La contraseña es obligatoria</span>
                }
            </div>
            <div class="enlaces elemento-formulario">
                <p>
                    <a routerLink="/registro">¿No estás registrado?</a>
                </p>
                <p>
                    <a routerLink="/recuperar-contra">Recupera tu contraseña</a>
                </p>
            </div>
            <div class="elemento-bajo">
                <button type="submit" class="sesion-button">
                    Entrar
                </button>
            </div>
        </form>
    </div>
</div>